@import url('https://fonts.googleapis.com/css?family=Barlow');

.body1
{
	background-image: url("ba.jpg");

	background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 100%;
}
.img1
{
	border-radius: 50%;
	
}
.img11
{
	padding-top: 40px;
}


@font-face {
  font-family: "Ki";
  src: url("Raleway-Heavy.ttf") format("truetype");
 /*src: url("PfefferSimpelgotisch fett.otf") format("opentype");*/
}

